
.vs/ReLearn/v15/.suo
\Debug\Schemas
Relearn.Droid/bin/
Relearn.Droid/obj/
Relearn.Core/bin/
Relearn.Core/obj/
Relearn.API/obj/
Relearn.API/bin/
/ReLearn/bin/Debug
/ReLearn/obj
/packages/Xamarin.Android.Support.Vector.Drawable.28.0.0-preview7/build/monoandroid81
.vs/ReLearn/v15/Server/sqlite3/storage.ide
