<?xml version="1.0" encoding="utf-8" ?>
<menu
xmlns:android ="http://schemas.android.com/apk/res/android"
xmlns:tools ="http://schemas.android.com/tools"    
xmlns:app="http://schemas.android.com/apk/res-auto"
tools:context=".MainActivity">
  <item
  android:id="@+id/settings"
  android:icon="@+drawable/settings"
  app:showAsAction="always">
    <menu>
      <item
         android:id="@+id/Settings_Menu"
         android:orderInCategory="104"
         app:showAsAction="never"
         android:title="@string/Settings"/>       
      <item
          android:id="@+id/Feedback"
          android:orderInCategory="102"
          app:showAsAction="never"
          android:title="@string/Feedback"/>
      <item
         android:id="@+id/about_us"
         android:orderInCategory="103"
         app:showAsAction="never"
         android:title="@string/about_us"/>
    </menu>
  </item>
</menu>
